#labels {
  width: 8.5in;
  margin: 0;
  display: grid;
  /* left gutter | label | center gutter | label | right gutter */
  grid-template-columns: 0.155in 2.625in 0.125in 2.625in 0.125in 2.625in 0.155in;
  /* top gutter | label x 10 | bottom gutter */
  grid-template-rows: 0.5in repeat(10, 1in) 0.5in;
  gap: 0;
}
.top-gutter {
  grid-column: 1 / 12;
  grid-row: 1;
}
.bottom-gutter {
  grid-column: 1 / 12;
  grid-row: 12;
  page-break-after: always;
}
.left-gutter {
  grid-column-start: 1;
}
.first-gutter {
  grid-column-start: 3;
}
.second-gutter {
  grid-column-start: 5;
}
.right-gutter {
  grid-column-start: 7;
}
.label {
  outline: 1px dotted;
  overflow: clip;
}
.top-left {
  float: left;
  padding-left: 2%;
  padding-top: 2%;
  width: 38%;
  display: inline-block;
  text-align: left;
}
.top-right {
  float: right;
  padding-top: 2%;
  padding-left: 2%;
  width: 56%;
  display: inline-block;
  text-align: left;
  border-left: solid #D9D9D9;
}
.top-left p {
  font-weight: bold;
}
.top-left p , .top-right p{
  padding: 0;
  margin: 0;
  font-family: Tahoma;
  font-size: 9pt;
}
.bottom {
  float: left;
  width: 100%;
  display: inline-block;
  text-align: left;
}
.bottom p {
  width: 90%;
  padding-left: 2%;
  padding-top: 5%;
  margin: 0;
  font-family: Tahoma;
  font-weight: normal;
  text-align: left;
  font-size: 8pt;
}
.svg {
  position: absolute;
  margin-left: 13.5em;
  margin-top: 4.8em;
}
.svg img {
  height: 1em;
  opacity: 0.5;
}
