{% extends "base.html" %}

{% block content %}
<img src="images/Lloyds_postcard_6x4.png" width="600em"></img>
<center>
<p class="paragraph">😎 welcome to our humble website 😎</p>
<address class="paragraph">
3824 Telegraph Avenue<br />
Oakland, California 94609<br />
USA
</address>
	<table>
		<tr>
			<td style="text-align: center;"><img src="images/under-construction.webp" width="40em"></td>
			<td style="text-align: center;">... coming soon ...</td>
			<td><img src="images/under-construction.webp" width="40em"></td>
		</tr>
	</table>
	<!-- <p>in the meantime, visit <a href="{{ get_url(path='@/blog/_index.md') }}">our blog</a>.</p> -->
</center>
{% endblock content %}
