{% extends "base.html" %}

{% block content %}
<img src="images/opening/Roll_2252_05_web_72dpi.jpg" width="600em"></img>
<center>
<p class="paragraph">😎 welcome to our website 😎</p>
<hr />
<address class="paragraph">
3824 Telegraph Avenue<br />
Oakland, California 94609<br />
USA
</address>
<p><time>12:00</time> - <time>8:00</time> everyday<br />
<hr />
<p><strong>🚨 we buy records 🚨</strong></p>
<p>reggae, soul, latin, cumbia, rock, folk, international, 45s<br />
12"s (house, techno, wave, jungle, rap, disco, boogie, etc!)<br />
<em>all genres welcome and celebrated!</em><br />
<a href="tel:+15108444984">(510) 844-4984</a>
<hr />
<p><a href="https://www.instagram.com/lloyds_records" target="_blank">@lloyds_records</a></p>
<p>👉👈🥺</p>
<hr />
<p>📣 yo, we got a newsletter!</p>
<div class="ml-embedded" data-form="tbPaK1"></div>
	<table>
		<tr>
			<td style="text-align: center;"><img src="images/under-construction.webp" width="40em"></td>
			<td style="text-align: center;">... big things coming ...</td>
			<td><img src="images/under-construction.webp" width="40em"></td>
		</tr>
	</table>
	<!-- <p>in the meantime, visit <a href="{{ get_url(path='@/bllog/_index.md') }}">our blog</a>.</p> -->
</center>
{% endblock content %}
